<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sweethome.jimmy.mynews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Controllers.Activities.HelpActivity">
            android:parentActivityName=".Controllers.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controllers.Activities.MainActivity" />
        </activity>
        <activity android:name=".Controllers.Activities.AboutActivity">
        android:parentActivityName=".Controllers.Activities.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Controllers.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Controllers.Activities.SearchActivity"
            android:label="Search result"
            android:parentActivityName=".Controllers.Activities.SearchAndNotificationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controllers.Activities.SearchAndNotificationActivity" />
        </activity>
        <activity
            android:name=".Controllers.Activities.SearchAndNotificationActivity"
            android:parentActivityName=".Controllers.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controllers.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Controllers.Activities.WebViewActivity"
            android:label="Return to MyNews"
            android:parentActivityName=".Controllers.Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controllers.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Controllers.Activities.MainActivity"
            android:label="MyNews">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Utils.MyBroadCastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>